# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/.brackets.json
/jekyllbuild/
/documentation/node_modules/
/documentation/jekyllbuild/
_data/galleries.yml
_includes/article_index_short.html
_includes/author.html
_includes/author_list.html
_includes/category_list.html
_includes/classic-sidebar.html
_includes/search.html
_includes/tag_list.html
_layouts/author_index.html
_layouts/category_index.html
_layouts/index-classic-sidebar-left.html
_layouts/index-classic-sidebar-right.html
_layouts/index-full.html
_layouts/index-material-sidebar-left.html
_layouts/index-material-sidebar-right.html
_layouts/page-classic-sidebar-left.html
_layouts/page-classic-sidebar-right.html
_layouts/page-material-sidebar-left.html
_layouts/page-material-sidebar-right.html
_layouts/post-classic-sidebar-left.html
_layouts/post-classic-sidebar-right.html
_layouts/post-material-sidebar-left.html
_layouts/post-material-sidebar-right.html
_layouts/tag_index.html
